<p id="notice"><%= notice %></p>
 <div class="page-header text-center">
  <h1>All Blog Bloggers<small>see all you blog</small></h1>
</div>
<%= will_paginate %>
<% @users.each do |user| %>
 <ul class="list-group">
  <div class="row">
    <div class="col-md-8 col-md-offset-2">
      <li class="list-group-item"><%= link_to gravatar_for(user), user_path(user) %></li>
      <li class="list-group-item"><h4><%= link_to user.username, user_path(user) %></h4></li>
      <li class="list-group-item"><small><%= pluralize(user.articles.count, "article") if user.articles %></small></li>
    <td><%= link_to 'Show', user %></td> |
    <td><%= link_to 'Edit', edit_user_path(user) %></td> |
    <td><%= link_to 'Destroy', user, method: :delete, data: { confirm: 'Are you sure?' } %></td>
    </div>
  </div>
  </ul>
<% end %>
<%= will_paginate %>



