<div class="page-header text-center">
<h1>Categories#index <small><%= link_to "New Category", new_category_path, class: 'btn btn-xs btn-success' %></small></h1>
</div>
<div class="text-center">
	<%= will_paginate %>
</div>
<div class="row">
	<div class="well col-md-6 col-md-offset-3">
	<ul class="list-group">
	<% @categories.each do |category| %>
				<li class="list-group-item" style="font-weight: bold">
					<%= link_to "#{category.name}", category_path(category) %>
					<small> was tagged in <%= pluralize(category.articles.count, 'article') %></small>
					<% if logged_in? and current_user.admin? %><%= link_to '<i class="fa fa-edit"></i> Edit'.html_safe, edit_category_path(category) %><% end %>
				</li>

	<% end %>
	</ul>
	</div>
</div>
<div class="text-center">
	<%= will_paginate %>
</div>
