<nav class="navbar navbar-inverse" role="navigation">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
       <%= link_to 'story', root_path, class: 'navbar-brand' %>
      <!-- <a class="navbar-brand" href="#">STORY</a> -->
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse navbar-ex1-collapse">
      <ul class="nav navbar-nav">
        <li class=<%= current_page?(root_path) ? "active" : "" %> > <%= link_to '<i class="fa fa-home"></i> Home'.html_safe , root_path %></li>
        <li class=<%= current_page?(articles_path) ? "active" : "" %> > <%= link_to '<i class="fa fa-clipboard fa-fw"></i> Articles'.html_safe , articles_path %></li>
        <li class=<%= current_page?(users_path) ? "active" : "" %> > <%= link_to '<i class="fa fa-user fa-fw"></i> Users'.html_safe , users_path %></li>
        <li><a href="#">About</a></li>
      </ul>
      <form class="navbar-form navbar-left" role="search">
        <div class="form-group">
          <input type="text" class="form-control" placeholder="Search">
        </div>
        <button type="submit" class="btn btn-default">Submit</button>
      </form>
      <ul class="nav navbar-nav navbar-right">
      <% if logged_in? %>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown"> Hi ! <%= "Admin" if current_user.admin? %> <%= current_user.username.capitalize %>
          <b class="caret"></b></a>
          <ul class="dropdown-menu">
            <li><%= link_to 'Edit Profile', edit_user_path(current_user) %></li>
            <li><%= link_to 'My Profile', user_path(current_user.id) %></li>
            <li><a href="#">Something else here</a></li>
            <li role="separator" class="divider"></li>
            <li><%= link_to '<i class="fa fa-unlock-alt fa-fw"></i> Log out'.html_safe, logout_path, method: :delete  %></li>
          </ul>
        </li>
        <% else %>
         <li><%= link_to 'Log in', login_path %></li>
         <li><%= link_to 'Sign up', sign_up_path %></li>
         <% end %>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div>
</nav>