<!DOCTYPE html>
<html>
  <head>
    <title>Blog</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <%= render 'layouts/navigation'  %>
  <div class="container">
    <%= render 'shared/message' %>
    <div class="row">
      <div class="col-xs-12">
        <%= yield %>
      </div>
    </div>


  <footer>
  <hr>
  <div class="row">
    <div class="col-sm-12">
      <p style="font-size: 13px">Copyright &copy; <span class="text-primary">The Complete Ruby on Rails Developer</span> <span class="text-mute">by</span> <span class="text-primary">Meas Kiry.</span> <%= link_to '<i class="fa fa-home"></i> Home'.html_safe, root_path, class: 'pull-right' %></p>
    </div>
  </div>
  </footer>
  </div>
  </body>
</html>
